<% unless @user.icon.url.nil? %>
<p>
  <strong></strong>
  <%= image_tag @user.icon.url %>
</p>
<% end %>
<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<%= link_to '新しく投稿する', new_post_path , class: 'btn btn-default' %><br>
<h1>お気に入り記事一覧</h1>
<% @favorites.each do |favorite| %>
  <p><%= image_tag favorite.image.url %></p>
  <p><%= favorite.content %></p>
  <p><%= favorite.user.name + "さんの投稿" %></p>
  <p><%= favorite.created_at %></p>
<%end%>
